@import "../../.config/colors/dracular/waybar/colors.css";
* {
  /* reference the color by using @color-name */
  border:none;
	border-radius: 0;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size:     12px;
	min-height: 0;
	min-height: 1px;
  margin-top: 2px;
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color:rgba(0, 0, 0, 0.0);
  border: none;

}

#taskbar {

  margin-left:20px;
  margin-top:2px;
  opacity :0;
}

#workspaces{
  padding-left:2px;
  background-color: @background;
  border-radius: 0px;
	margin-right:20px;
  border: 1px solid @purple;
  border-radius: 5px;
  margin-bottom: 3px;


  }

#window {
  padding-left:5px;
  padding-right:5px;
	min-width: 1px;
  color: @foreground;
  margin-right: 10px;
  background-color: @background;
  border: 1px solid @purple;
  border-radius: 5px;
  margin-bottom: 3px;
}
#workspaces button {
  color: @foreground;
  margin-right:2px;
  }

#workspaces button:hover {
	background-color: @selection;
	color: @foreground;
}
#workspaces button.active {
	background-color: @background-darker;
	color: @purple;
}

#mpris {
	min-width: 10px;
	background-color: @background;
	color: @foreground;
	margin-left: 10px;
	padding-left :10px;
  border-radius:5px;
  border: 1px solid @purple;
  margin-bottom: 3px;
}


#tray,
#bluetooth,
#blacklight,
#custom-weather,
#custom-clipboard,
#network,
#pulseaudio,
#clock {
  margin-right:5px;
  color: @foreground;
  background-color:@background;
  padding-left:10px;
  padding-right: 10px;
  border: 1px solid @purple;
  border-radius: 5px;
  margin-bottom: 3px;
}

#custom-left_sidebar,
#custom-dir,
#custom-notification,
#disk,
#cpu,
#memory,
#temperature,
#tray{
  margin-left:5px;
  color:@foreground;
  background-color: @background;
  padding-right:10px;
  padding-left:10px;
  min-width: 20px;
  border: 1px solid @purple;
  border-radius: 5px;
  margin-bottom: 3px;
}

#custom-shutdown {
  color: @foreground;
  background-color:@background;
  font-size:12pt;
  padding-right:10px;
  padding-left:10px;
  margin-left:10px;
  border: 1px solid @foreground;
  margin-right:10px;

}

#custom-reboot,
#custom-logout,
#custom-suspend,
#custom-hibernate{
  color: @foreground;
  background-color:@background;
  font-size:8pt;
  padding-left:10px;
  padding-right:10px;
  padding-top:3px;
  margin-left:5px;
}


#custom-left_sidebar:hover,
#custom-notification:hover {
  background-color:@selection;

}

#custom-shutdown:hover,
#custom-reboot:hover,
#custom-logout:hover,
#custom-suspend:hover,
#custom-hibernate:hover{
  color: @color10;
  background-color:@color3;
}
#pulseaudio:hover,
#mpris:hover {
   background-color: @selection;
}


#memory{
  padding-top : 2px
}
#clock {
  padding-top: 3px
}

#custom-left_sidebar {
  margin-left: 10px;
}

#network{

  margin-right: 10px;
}

#pulseaudio {}
