.left_sidebar {
  padding:9px;
  border-radius: 10px;

}

.lsb_container {
}
.clock {
  color: @foreground;
}
.lsb_menu {
  background-color: @background;
  min-height: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  border : 1px solid @purple;
  border-radius: 10px;
}

.lsb_titles {
  background-color : @background;
  min-height: 30px;
  color: @foreground;
  border : 1px solid @purple;
  border-radius: 10px;

}
.lsb_homepage {
  min-height: 10px;
}
.lsb_timer {
  background-color : @background;
  min-height: 133px;
  padding :10px;
  border-radius: 10px;
}

.cp_timer {
  color: @foreground;
  min-width: 20px;
  padding: 5px;
  border : 1px solid @purple;
}

.cp_timer circular-progress {
    background-color: @yellow;

}

.timer {
  min-width: 150px;
}
.timer:hover {
  color: @selection;
}

.btn_timer:hover {
  color:@selection;
}
.btn_menu {
  color : @foreground;
  background-color: @background;
  min-height: 40px;
  min-width: 70px;
  margin-left:13px;
  padding-left:5px;
  border : 1px solid @purple;
  border-radius: 10px;
}

.btn_menu:hover {
  color: @foreground;
  background-color: @selection;
}

.lsb_container {
    animation: dropIn 0.3s ease-out forwards;
  }
 
.lsb_top_row {
  min-height: 153px;
 }


.file_link {
  background-color: @background;
  min-width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid @purple;
  border-radius: 10px;
  color: @foreground;
}

.btn_file {
    min-height:20px;
  }

.btn_file:hover {
  color:@yellow;
}

.user_avatar {
  background-color: @background;
  min-width: 210px;
  margin-right: 10px;
  border: 1px solid @purple;
  border-radius: 10px;
}

.lsb_volume {
  padding-left: 15px;
  min-height: 50px;
  background-color : @background;
  color : @foreground;
  border: 1px solid @purple;
  border-radius: 10px;
}

.scl_volume{
  min-width: 310px;
}

.scl_volume highlight {
  background-color: @foreground;
  padding: 0.3em;
}

.scl_volume trough {
  border: 1px solid @purple;
}

.lsb_middle_row {
  min-height: 200px;
}

.lsb_power_menu {
  min-height: 40px;
  padding: 10px;
  padding-left: 50px;
  margin-top: 5px;
  border : 1px solid @purple;
  border-radius: 10px;
  background-color: @background;
}

.btn_pw_menu {
  color : @foreground;
  background-color: @background;
  min-height: 35px;
  min-width: 35px;
  margin-right: 10px;
  padding-left:9px;
  border : 1px solid @purple;
  border-radius: 15px;
}

.btn_pw_menu:hover {
  color: @foreground;
  background-color: @selection;
  border-radius: 15px;
}

.lbs_quote {
  margin-top: 5px;
  min-height: 250px;
  border: 1px solid @purple;
  border-radius: 10px;
  background-color: @background;
  padding: 10px;
  color: @foreground;
  font-size: 13pt;
}

.lbs_notes {
  margin-top: 5px;
  min-height:250px;
  border: 1px solid @purple;
  border-radius: 10px;
  background-color: @background;
  padding: 10px;
  color: @comment;
}

.lbs_cal {
  margin-top: 5px;
  min-height:258px;
  border: 1px solid @purple;
  border-radius: 5px;
  background-color: @background;
  padding: 10px;
  color: @foreground;
  font-size:17px;
}

.cal .highlight {
  margin-bottom:10px;
  color:@foreground;
}

.lb_notes {
  font-size: 12pt;
  margin-bottom: 10px;
}

.btn_notes {
  color: @foreground;
}

.btn_notes:hover {
  color: @selection;
}

.lsb_music_widget {
  margin-top: 5px;
  min-height: 290px;
  background-color: @background;
  padding: 10px;
  border: 1px solid @purple;
  border-radius: 10px;
}

.lsb_mw_bg_tm {
  padding: 10px;
}

.lsb_mw_info {
  margin-top: 5px;
  font-size:14px;
  color: @comment;
}
.lsb_progress_bar {
  margin-top: 2px;
  min-width: 310px;
  margin-bottom: 5px;
}

.lsb_progress_bar highlight {
  background-color: @foreground;
  padding: 0.3em;
}

.lsb_progress_bar trough {
  background-color: @background;
  border: 1px solid @purple;
  
}

.lsb_mw_controls {
  margin-top:5px;
  background-color: @background;
  color: @foreground;
  font-size: 18pt;
  margin-bottom: 5px;
  border: 1px solid @purple;
  border-radius: 10px;
}

.lsb_mw_controls button:hover {
  background-color: @selection;
  color: @foreground;
  border-radius: 12px;
}

.menu {
  margin-top: 5px;
}

