
.searchapps-bar {
  color: #88c0d0;
  font-size: 1.5rem;
  margin: -2px;
  padding: 30px 90px 30px 90px;
  background-color: #1E222A;
  border: 6px solid #80A0C0;
}
.search-bar {
  color: #88c0d0;
}
.search-label {
  font-family: "Iosevka";
  font-size: 2rem;
  font-weight: 700;
  padding-right: 20px;
}
.app-container {
  margin: -2px;
  font-size: 1.25rem;
  padding: 30px;
  color: #88c0d0;
}
.item {
  padding: 10px;
  background: rgba(10,10,10,0.4);
}
