@define-color foreground #e5eded;
@define-color background #3c2424;
@define-color cursor #e5eded;

@define-color color0 #3c2424;
@define-color color1 #BABBB1;
@define-color color2 #F3E1A9;
@define-color color3 #AED0CE;
@define-color color4 #A0D2D0;
@define-color color5 #BBEAE7;
@define-color color6 #E5D9D6;
@define-color color7 #e5eded;
@define-color color8 #a0a5a5;
@define-color color9 #BABBB1;
@define-color color10 #F3E1A9;
@define-color color11 #AED0CE;
@define-color color12 #A0D2D0;
@define-color color13 #BBEAE7;
@define-color color14 #E5D9D6;
@define-color color15 #e5eded;
