@define-color foreground #f1ede2;
@define-color background #1c1234;
@define-color cursor #f1ede2;

@define-color color0 #1c1234;
@define-color color1 #546BA4;
@define-color color2 #AA78A0;
@define-color color3 #6A99B9;
@define-color color4 #B5B2B3;
@define-color color5 #A1CDD0;
@define-color color6 #DDD5D3;
@define-color color7 #f1ede2;
@define-color color8 #a8a59e;
@define-color color9 #546BA4;
@define-color color10 #AA78A0;
@define-color color11 #6A99B9;
@define-color color12 #B5B2B3;
@define-color color13 #A1CDD0;
@define-color color14 #DDD5D3;
@define-color color15 #f1ede2;
